body{

min-height: 100vh;

}

.jumbotron{
    background-color: rgb(172, 200, 10);
    color: black;
    margin-top: 50px;
    
}

footer{
    padding:10px 10px 0 10px ; 
    background-color: rgba(172, 200, 10); 
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
    align-self: flex-end;

}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon{
    padding-right: 15px;

}
.tab-content{
    padding-top: 20px;
}