body {
  min-height: 100vh; }

.jumbotron {
  background-color: #e7e711;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e7e711;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  align-self: flex-end; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 15px; }

.tab-content {
  padding-top: 20px; }

.container nav {
  padding-top: 20px; }

/*# sourceMappingURL=styles.css.map */
