
    @yellow:   #d1c649;

    .margenes(@top:0px, @bottom: 0px){
        margin-top: @top;
        margin-bottom: @bottom;
    }
body {
    min-height: 100vh; 
}

    .jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}
s
    footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
    width: 100%;
    align-self: flex-end; }

    .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    .margenes(10px, 0px); }

    .btn-reserva {
    width: 100%;
    border-radius: 0px; }

    .footer-address-icon {
    padding-right: 15px; }

    .tab-content {
    padding-top: 20px; }
